/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.25;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

#root {
  margin: 1rem;
}

/* Common */
.action-button {
  width: 5rem;
  height: 2.5rem;

  padding: 10px 16px;
  background: #392b2b; /* modern blue */
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
  color: rgb(100, 60, 60);
}

/* Post */
.post {
  margin: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

/* New Post Form */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.new-post__close {
  position: absolute;
  right: 1rem;
  top: 0;
}
.new-post {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  background-color: white;
  margin: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font-size: 2rem;
  position: relative;
}
.new-post input,
.new-post textarea {
  outline: none;
  border: none;
  background-color: rgb(247, 247, 247);
  font-size: 1.25rem;
  padding: 0.5rem;
}
